/* 
    Document   : tyylit.css
    Created on : 17.12.2013, 0:22:51
    Author     : Eveliina
    Description:
        Swot sivujen tyylitiedosto.
*/

root { 
    display: block;
}

body {
    background-color:#F5F5F5;
    font-family: "ITC Garamond Narrow",   serif;
    color: #0D1A29;

    margin: 0px;
}

.kirjautuminenfieldset{
    width: 420px;
    padding:10px;
    border:3px solid gray;
    margin-left: 45px;
}

header {
    background-color:#AAAEAE;
    padding: 8px;
    margin-bottom: 60px;   
    margin-right:50px;
    margin-left:0px;
    margin-top: 30px;
    box-shadow: inset 3px 4px 9px rgba(0,0,0,0.126);
}

h2{
    margin-left: 45px;
    font-size: 27px;
}

p{
    margin-left: 45px;
    
    font-size: 21px;
}

footer {
    background-color:#B9D7D7 ;
    margin-top:70px;
    margin-right:50px;
    margin-left:0px;
    box-shadow: inset 0px 3px 8px rgba(0,0,0,0.126);
}

.otsikko {
    text-decoration: overline;
    margin-left: 45px;
    font-size: 40px;
}

div {
   margin-left: 80px;
   
}

ul {
    font-size: 21px;
    margin-left: 45px;
}



#tummennettu {
    font-weight: bold;

}

#footerteksti {
    font-style: italic;
    font-size: 13px;
    text-align: left;
    margin-left: 26px;
}

#virhe {
    color: darkorange;
}

a:link {
    color: #044E73;
}

a:visited {
    color: #570473;
}

#navbar {
    position: absolute;
    top: 0;
    left: 30px;
    
    padding:0;
    margin-left: 90px;
    margin-top: 30px;
    font-size: 21px;
}

#navbar li {
    list-style: none;
    float: left; 
    position:relative;
}

#navbar li a {
    display: block;
    text-align:center;
    padding: 5px 7px;
    text-transform: uppercase;
    text-decoration: none; 
    color: #000;
    font-weight: bold; 
}

#navbar li a:hover {
    background-color:#838383;
    box-shadow: inset 3px 4px 9px rgba(0,0,0,0.126);
}

#navbar li a.valittu {
    color:#5F5F65 ;
}

#navbar li ul {
    display: none;
    list-style-type:none;
}

#navbar li:hover ul, #navbar li.hover ul {
    position: absolute;
    display:list-item;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #A5AEC5; 
    box-shadow: inset 0px 3px 8px rgba(0,0,0,0.126);
}



